# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# dotenv files
.env
.env.local
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
*.sublime-workspace

# Build output
dist/
build/
